.welcome-title {
    font-size: 36px;
  }
  
  .brand-color {
    color: #1E97F3;
  }
  
  .button-group .btn {
    margin-right: 10px;
  }
  
  .home-image {
    width: 300px;
    height: 400px;
  }
  